.home {
    .goToScreenshots {
        margin: 0 0 100px 0;
        outline: 0px solid red;
        height: 1px;
    }
    .topSide {
        display: flex;
        justify-content: space-between;
        .leftSide {
            width: 65%;
            outline: 0px solid red;
            h1 {
                outline: 0px solid red;
                font-size: 60px;
                line-height: 70px;
            }
            .text {
                font-size: 20px;
                width: 60%;
                margin: 80px 0 40px 0;
                span {
                    font-weight: bold;
                }
            }
            ul {
                list-style-type: circle;
                li {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 45px;
                    span {
                        color: black;
                    }
                }
            }
            .creditCard {
                margin: 20px 0 80px 0;
                font-size: 16px;
                a {
                    color: #ffa217;
                }
            }
        }
        .rightSide {
            width: 35%;
            position: relative;
            top: 35px;
            outline: 0px solid red;
            transition: 1s;
            &:hover {
                transform: scale(1.1);
            }
            .homeImg1 {
                position: absolute;
                left: 0px;                
            }
            .homeImg2 {
                position: absolute;
                top: 250px;                
            }
            .homeImg3 {
                position: absolute;
                left: 0;
                top: 150px
            }
            .homeImg4 {
                position: absolute;
                right: 0;
                top: 300px
            }
        }
    }
    .images {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
